<div class="d-flex border border-light">
    <div style="width: 200px; height: 90vh;" class="sidebar bg-info p-3 d-flex flex-column">
        <a routerLink="/home">Home</a>
        <a routerLink="/users">Users</a>
    </div>
    <div class="dashboard p-3 w-100">
        <div class="title d-flex justify-content-between">
            <h1>Users List</h1>
            <a routerLink="add" class="btn btn-warning"> <i class="fa-solid fa-user-plus"></i> Add</a>
        </div>
        <div class="d-flex m-3 align-items-center">
            <!-- seach bar -->
            Search: <input [(ngModel)]="searchKey" type="text" placeholder="Search by username"
                class="form-control w-25 ms-3">
            <!-- sort dropdown -->
            <div class="dropdown ms-4">
                <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Sort
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><button (click)="sortById()" class="dropdown-item text-dark">By Id</button></li>
                    <li><button (click)="sortByName()" class="dropdown-item text-dark">By Name</button></li>
                </ul>
            </div>
            <!-- downlod -->
            <button (click)="generatePDF()" class="btn btn-success ms-auto">Export</button>
        </div>
        <div class="table mt-3">
            <table id="userTable" class="table shadow border p-2 fs-6">
                <thead>
                    <tr>
                        <th>User id</th>
                        <th>User name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="(allUsers | search:searchKey:'name').length===0">
                        <p class="fw-bolder text-danger">User doesnot exist !!!</p>
                    </tr>
                    <tr *ngFor="let user of allUsers | search :searchKey:'name' | paginate :
                    {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                    }
                    " [hidden]="user.id===1">
                        <th>{{user.id}}</th>
                        <th>{{user.name}}</th>
                        <th>{{user.email}}</th>
                        <th><span [ngClass]="user.active=='1'?'btn btn-success':'btn btn-danger'">{{user.active==="1"?'
                                Active':'Inactive'}}</span></th>

                        <th>
                            <!-- edit -->
                            <a routerLink="edit/{{user.id}}"> <i class="fa-solid fa-pen text-success btn"></i></a>
                            <!-- delete -->
                            <i (click)="deleteUser(user.id)" class="fa-solid fa-trash text-danger btn"></i>
                        </th>
                    </tr>
                </tbody>
            </table>
            <!-- pagination controlls -->
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="next" (pageChange)="onTableDatachange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>