<div class="d-flex border border-light">
    <div style="width: 200px; height: 90vh;" class="sidebar bg-info p-3 d-flex flex-column">
        <a routerLink="/home">Home</a>
        <a routerLink="/users">Users</a>

        <button (click)="logOut()" class="btn mt-auto text-light fw-bolder btn-primary"><i><i class="fa-solid fa-right-from-bracket me-2"></i></i>LogOut</button>

    </div>
    <div class="dashboard p-3 w-100">
        <div class="row">
            <div class="col-lg-8">
                <div style="height: 170px; background-image: url(https://tse4.mm.bing.net/th?id=OIP.6tlSKlj5dJgzb796PkJmywHaCQ&pid=Api&P=0&h=180);
                background-size: cover;" class="admin-panel border rounded d-flex align-items-center shadow">
                    <h1 class="ms-5 fs-2 ">Welcome <span>{{adminName}}</span></h1>
                </div>
                <!-- calender and chart -->
                <div class="d-flex mt-3">
                    <div style="height: 480px;" class="col-lg-6 border rounded shadow">
                        <app-inline-calender></app-inline-calender>
                    </div>
                    <!-- <div class="col-lg-1"></div> -->
                    <div style="height: 480px;" class="col-lg-6 border rounded ms-auto shadow">
                        <app-chart></app-chart>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div style="height: 400px; " class="admin-details border rounded p-2 shadow">
                    <app-edit-admin (onUpdate)="updateAdminName($event)"></app-edit-admin>
                </div>
                <div style="height: 250px;" class="random-user mt-2 border rounded p-2 fs-3
                 d-flex align-items-center justify-content-center text-primary shadow mt-3">
                    <i class="fa-users fa-solid me-2"></i> Employees : <span class="ms-2">{{totalUserCount}}</span>
                </div>
            </div>
        </div>
    </div>
</div>